.custom-checkbox-container {
    margin: 1vh;
    transition: all 0.1s ease;
    user-select: none;
    display: flex;
}

.custom-checkbox {
    transition: all 0.3s ease-in-out;
    border: 0.3vh solid var(--accent-color);
    border-radius: 0.3vh;
    width: 2vh;
    height: 2vh;
}

.custom-checkbox-checked {
    transform: rotate(180deg);
    background-color: var(--accent-color);
}

@media (hover: hover) {
    .custom-checkbox-container:hover {
        transform: scale(1.1);
    }
}
