.finish-game-sign {
    position: absolute;
    background-color: #16191c54;
    animation: showFinishGameSign 1s ease;
    border-radius: 1vh;
}

.finish-game-title {
    color: #4caf50;
    font-size: xxx-large;
    font-family: Oswald, serif;
    padding: 0;
    margin: 0;
}

.finish-game-score {
    color: var(--secondary-color);
    font-size: large;
    padding: 0;
    margin: 0;
}

@keyframes showFinishGameSign {
    0% {opacity: 0;}

    100% {opacity: 1;}
}
