.tile-grid-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tile-grid-blur {
    filter: blur(1.2vh);
    animation: 1s ease;
}
