.tile {
    transition: all 0.3s ease;
    transform: scale(0.9);
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
}

@media (hover: hover) {
    .tile:hover {
        transform: scale(1);
    }
}

@media (hover: none) {
    .tile:active {
        transform: scale(1);
    }
}
