@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --accent-color: #FFBF00;
    --bg-color: #16191c;
    --secondary-color: #848d97;
}

body {
    background-color: var(--bg-color);
}

.center-horizontal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-grid-blur {
    filter: blur(1.2vh);
    animation: 1s ease;
}
